<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="OrderServiceLibrary.OrderService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:9000/OrderService"
                  binding="netTcpBinding"
                  bindingConfiguration="tcpBinding"
                  name="OrderService_Tcp"
                  contract="OrderServiceLibrary.IOrderService"/>
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" receiveTimeout="00:00:10" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>