<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_WeatherReport" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60098/TemperatureService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WeatherReport"
                contract="TemperatureService.WeatherReport" name="WSHttpBinding_WeatherReport">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>