<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080/CustomerService"
                binding="basicHttpBinding"
                name="CustomerService_Http"
                contract="CustomerServiceLibrary.ICustomerService" />
      <endpoint address="http://localhost:8090/CustomerService"
                binding="wsHttpBinding"
                name="CustomerService_WsHttp"
                contract="CustomerServiceLibrary.ICustomerService" />
      <endpoint address="net.tcp://localhost:9000/CustomerService"
                binding="netTcpBinding"
                name="CustomerService_Tcp"
                contract="CustomerServiceLibrary.ICustomerService" />
    </client>
  </system.serviceModel>
</configuration>